---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: loki
  namespace: loki
spec:
  interval: 1m
  chart:
    spec:
      chart: loki
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
      interval:
  values:
    loki:
      commonConfig:
        replication_factor: 1
      schemaConfig:
        configs:
          - from: 2024-04-01
            store: tsdb
            object_store: s3
            schema: v13
            index:
              prefix: loki_index_
              period: 24h
      storage:
        bucketNames:
          chunks: chunks
          ruler: ruler
          admin: admin
      querier:
        # Default is 4, if you have enough memory and CPU you can increase, reduce if OOMing
        max_concurrent: 2

    gateway:
      basicAuth:
        enabled: true
        username: loki
        password: lokipassword
      service:
        port: 8080

    deploymentMode: SingleBinary
    singleBinary:
      replicas: 1
      resources:
        limits:
          cpu: 2
          memory: 2Gi
        requests:
          cpu: 1
          memory: 1Gi

    # Zero out replica counts of other deployment modes
    backend:
      replicas: 0
    write:
      replicas: 0
    read:
      replicas: 0

    chunksCache:
      enabled: false
    lokiCanary:
      enabled: false
    test:
      enabled: false
