---
version: 2
updates:
  - package-ecosystem: docker
    directory: /charts/query-test/container
    schedule:
      interval: daily
    labels:
      - dependencies
      - docker

  - package-ecosystem: docker
    directory: /tools/doc-generator
    schedule:
      interval: daily
    labels:
      - dependencies
      - docker

  - package-ecosystem: docker
    directory: /tools/schema-generator
    schedule:
      interval: daily
    labels:
      - dependencies
      - docker

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
    labels:
      - dependencies
      - github-actions

  - package-ecosystem: npm
    directory: /
    schedule:
      interval: daily
    versioning-strategy: increase
    labels:
      - dependencies
      - npm
