export PROMETHEUS_URL="$(op --account grafana.1password.com read  "op://Kubernetes Monitoring/helmchart Prometheus/website")/api/prom/api/v1/query"
export PROMETHEUS_USER=$(op --account grafana.1password.com read  "op://Kubernetes Monitoring/helmchart Prometheus/username")
export PROMETHEUS_PASS=$(op --account grafana.1password.com read  "op://Kubernetes Monitoring/helmchart Prometheus/password")
export LOKI_URL="$(op --account grafana.1password.com read  "op://Kubernetes Monitoring/helmchart Loki/website")/loki/api/v1/query"
export LOKI_USER=$(op --account grafana.1password.com read  "op://Kubernetes Monitoring/helmchart Loki/username")
export LOKI_PASS=$(op --account grafana.1password.com read  "op://Kubernetes Monitoring/helmchart Loki/password")
