---
name: Lint
# yamllint disable-line rule:truthy
on:
  push:
    branches: ["main"]

  pull_request:

  workflow_dispatch:

permissions: {}

jobs:
  actionlint:
    name: GitHub Actions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          persist-credentials: 'false'
      - uses: raven-actions/actionlint@963d4779ef039e217e5d0e6fd73ce9ab7764e493  # v2.1.0

  dockerfile:
    name: Dockerfiles
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          persist-credentials: 'false'
      - name: Lint Dockerfiles
        run: make lint-dockerfile

  shellcheck:
    name: Shell
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          persist-credentials: 'false'
      - name: Lint shell files
        run: make lint-shell

  yamllint:
    name: YAML
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          persist-credentials: 'false'
      - name: Lint YAML files
        run: make lint-yaml

  zizmor:
    name: Zizmor
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          persist-credentials: 'false'
      - name: Lint Zizmor files
        run: make lint-zizmor
